---
import { DEPARTMENT_COLORS, LEVEL_COLORS, DEPARTMENT_ICONS } from '@/types/course';
import type { CourseListingData } from '@/types/course';
import { Icon } from 'astro-icon/components';
const { course } = Astro.props as { course: CourseListingData };
---

<section class="hero rounded-lg">
  <div
    class="hero-content w-full flex-col items-start justify-start gap-4 sm:flex-row sm:items-center sm:gap-6"
  >
    {
      course.image && (
        <div class="avatar shrink-0">
          <div class="ring-primary ring-offset-base-100 w-20 rounded-xl ring ring-offset-2 sm:w-24 md:w-32">
            <img src={course.image} alt={course.title} />
          </div>
        </div>
      )
    }
    <div class="flex w-full flex-col gap-2 text-left sm:gap-3">
      <h1 class="text-2xl font-bold sm:text-3xl md:text-4xl lg:text-5xl">{course.title}</h1>

      <div class="flex flex-wrap justify-start gap-2 sm:gap-3">
        <div
          class="badge badge-md badge-accent sm:badge-lg font-mono text-sm font-bold sm:text-base md:text-lg"
        >
          {course.acronym}
        </div>

        <div
          class={`badge  badge-md badge-accent sm:badge-lg text-xs font-mono font-bold sm:text-sm md:text-base px-3 sm:px-4 py-2 sm:py-3`}
        >
          {course.level}
        </div>
        <div
          class={`badge  badge-md badge-accent sm:badge-lg text-xs font-mono font-bold sm:text-sm md:text-base px-3 sm:px-4 py-2 sm:py-3`}
        >
          {DEPARTMENT_ICONS[course.department]}
          <span class="ml-1">{course.department}</span>
        </div>
      </div>
    </div>
    <div>
      <a href="/courses" class="btn btn-wide btn-outline btn-primary border-0">
        <Icon name="mdi:arrow-left" class="h-4 w-4" />
        <span>Volver a todos los cursos</span>
      </a>
    </div>
  </div>
</section>
