---
import '../styles/global.css';

// Define props interface
interface Props {
  title?: string;
  description?: string;
}

// Get props with defaults
const {
  title = 'Salva Ramos | Clases particulares y grupales',
  description = 'Salva tus Ramos con sesiones en vivo de profesores expertos. Clases particulares y grupales de ingeniería.',
} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/public/images/LOGO_FONDO_AZUL.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/images/LOGO_FONDO_AZUL.png" />
    <meta property="og:url" content="https://www.salvaramos.cl" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/images/LOGO_FONDO_AZUL.png" />

    <script src="https://cdn.usal.dev/latest" defer></script>
  </head>
  <body>
    <script is:inline>
      window.addEventListener('DOMContentLoaded', () => {
        window.USAL.config({
          once: true,
          threshold: 0.2,
        });
      });
    </script>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100wh;
    height: 100vh;
  }
</style>
